In [7]:
import pandas as pd

In [10]:
sat_scores_total = pd.read_csv("school_scores.csv")

In [11]:
sat_scores_total

,Year,State.Code,State.Name,Total.Math,Total.Test-takers,Total.Verbal,Academic Subjects.Arts/Music.Average GPA,Academic Subjects.Arts/Music.Average Years,Academic Subjects.English.Average GPA,Academic Subjects.English.Average Years,...,Score Ranges.Between 600 to 700.Math.Total,Score Ranges.Between 600 to 700.Verbal.Females,Score Ranges.Between 600 to 700.Verbal.Males,Score Ranges.Between 600 to 700.Verbal.Total,Score Ranges.Between 700 to 800.Math.Females,Score Ranges.Between 700 to 800.Math.Males,Score Ranges.Between 700 to 800.Math.Total,Score Ranges.Between 700 to 800.Verbal.Females,Score Ranges.Between 700 to 800.Verbal.Males,Score Ranges.Between 700 to 800.Verbal.Total
0,2005,AL,Alabama,559,3985,567,3.92,2.2,3.53,3.9,...,1096,596,613,1209,156,292,448,219,250,469
1,2005,AK,Alaska,519,3996,523,3.76,1.9,3.35,3.9,...,787,423,375,798,47,116,163,109,115,224
2,2005,AZ,Arizona,530,18184,526,3.85,2.1,3.45,3.9,...,3814,1831,1679,3510,327,630,957,412,501,913
3,2005,AR,Arkansas,552,1600,563,3.90,2.2,3.61,4.0,...,443,242,226,468,49,83,132,77,93,170
4,2005,CA,California,522,186552,504,3.76,1.8,3.32,3.8,...,37605,16078,14966,31044,5451,8792,14243,5011,4766,9777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2015,VA,Virginia,517,59621,518,3.83,2.1,3.47,3.9,...,10870,5765,5401,11166,1257,2170,3427,1479,1561,3040
573,2015,WA,Washington,511,44423,502,3.83,2.2,3.50,3.9,...,8150,3819,3745,7564,842,1584,2426,1067,1077,2144
574,2015,WV,West Virginia,500,2501,509,3.92,2.4,3.71,3.9,...,355,211,186,397,30,43,73,42,40,82
575,2015,WI,Wisconsin,606,2277,591,3.93,2.6,3.77,4.1,...,798,387,337,724,166,309,475,198,225,423
576,2015,WY,Wyoming,587,181,588,3.91,2.5,3.84,4.1,...,64,34,20,54,12,13,25,15,15,30

In [ ]:
|